@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico|Righteous|Roboto|Ubuntu');
body{
    margin:0 0;
    padding:0 0;
    line-height: 1;
    font-family: 'Lato';
}

.body{
    margin-top:107px;
}